<%- include("partials/header.ejs") %>
 
<div class="text-center mt-4">
  <h1>Blog List</h1>
</div>

<div class="container">
  <ul class="pt-3 text">
    <li><a href="">Blog 1</a></li>
    <li><a href="">Blog 2</a></li>
    <li><a href="">Blog 3</a></li>
    <li><a href="">Blog 4</a></li>
    <li><a href="">Blog 5</a></li>
    
  </ul>
</div>    
<a href="/create"></a>

<%- include("partials/footer.ejs") %>
  
    


